body{
	margin: 0;
	background: black;
}

.container {
	display: grid;
	grid-template-columns: 25% 75%;
	width: 100%;
	height: 150vh;
	background-color: black;
}

.containerTwo {
	display: grid;
	grid-template-columns: 100%;
	width: inherit;
	height: 150vh;
	background-color: white;
}

.containerThree {
	display: grid;
	grid-template-columns: 100%;
	width: inherit;
	height: 50vh;
	background-color: white;
}

.containerFour {
	display: grid;
	grid-template-columns: 50% 50%;
	width: inherit;
	height: 50vh;
	background-color: white;
}

.sidebar {
	display: grid;
	width: inherit;
	grid-template-columns: 100%;
	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	background-color: #f1f1f1;
	height: 100%;
}

.sidebar a {
  display: grid;
  /*padding: 16px;*/
  text-decoration: none;
  align-items: center;
  height: inherit;

  width: inherit;
}

.sidebar i {
	color: black;
	margin-left: 8px;
}

.sidebar span{
	margin-left: 8px;
}

img {
	width: inherit;
	height: inherit;
	/*border-radius: 10%;*/
}

.sidebar div {
  display: grid;
  text-decoration: none;
  font-size: 24px;
  height: inherit;
  align-items: center;

}

/* Links on mouse-over */
.sidebar div:hover a {
  background-color: orange;
  color: white;
  transition: all 0.2s ease-in-out; 
}

.sidebar div:hover i {
  color: white;
  transition: all 0.2s ease-in-out; 
}

img {

}

.strength {
	background: linear-gradient(90deg, rgba(29,0,45,1) 0%, rgba(38,10,6,1) 100%);
}

.agility{
	background-image: green;
}

.intelligence {
	background-image: steelblue;
}